<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stamboom Grootoonk - ter Wijlen - Ekkel - Groen</title>
</head>

<body>
    <script defer type="text/javascript" src="../static/script.js"></script>
    <div class="container" id="ancestors_list"></div>
    <div class="generation">
        <section>
            <div class="couple">
                <div class="husband">
                    <p>Wilfred Grootoonk</p>
                    <p></p>
                    <p>* Gramsbergen, 1980</p>
                </div>
            </div>
        </section>
    </div>
</body>

</html>